<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Sistema de Imóveis{% endblock %}</title>

   <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
   <script src="https://unpkg.com/imask" defer></script>
   <script src="{{ url_for('static', filename='masks.js') }}" defer></script>
</head>
<body>
    <div class="container">
     {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

     <div class="container mt-4">
        {% block content %}{% endblock %}
     </div>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>