{% extends 'base.html' %}

{% block title %} Cadastro Corretor {% endblock %}

{% block content %}

<div class="container mt-4">
 <h1 class="mb-4">Cadastrar Novo Corretor</h1>

 <form action="{{url_for('rotas.cadastrar_corretor')}}" method="POST">
  <div class="mb-3">
    <label for="corretor" class="form-label">Nome do Corretor</label>
    <input type="text" class="form-control"id="corretor" name="nome" required> 
  </div>
  <div class="mb-3">
    <label for="contato">Telefone</label>
    <input type="tel" id="contato" name="contato" class="form-control" maxlength="15" placeholder="(62) 9 9999-9999" required>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
     $(document).ready(function() {
      $('#contato').mask('(00)  00000-0000');
     });
    </script>
  </div>
  <button type="submit" class="btn btn-success">Cadastrar</button>
  <a href="/" class="btn btn-secondary">Cancelar</a>
 </form>
</div>

{%endblock %}

